*{
  margin: 0;
  padding: 0;
}

body{
  font-family:'Press Start 2P', cursive;
  color: white;
  font-size: 13px;
}

#content{
  width: auto;
  height: 842px;
  background: fuchsia;
}

.container{
  display: grid;
  min-width: 500px;
  max-width: 1100px;
  margin: auto;
  border: 6px solid black;
  grid-template-areas: "head"
                       "stats"
                       "game"
                       "choice"
                       "console";
  grid-template-rows: 120px 60px 400px 150px 100px;
}

.head{
  grid-area: head;
}

.stats{
  grid-area: stats;
}

.game{
  grid-area: game;
}

.choice{
  grid-area: choice;
}

.console{
  grid-area: console;
}


/* Head */
